/*
 * Aech - by Kabir Goel (https://github.com/kbrgl)
 * With significant modification by Angad Singh (https://github.com/dotangad)
 */

/**
 * Variable definitions
 */
:root {
  /* Strokes, light backgrounds, and so on */
  --color-wash: #f4f4f4;
  /* Light text, low-importance elements, and so on */
  --color-light: #9393a8;
  /* Buttons and other interface elements you want to highlight */
  --color-accent: #2977f5;
  /* Body text */
  --color-dark: #282851;
  /* Interface text */
  --color-black: #101020;

  /* Margin, padding, or anything else that needs a size */
  --xxl: 60px;
  --xl: 40px;
  --l: 30px;
  --m: 20px;
  --s: 15px;
  --xs: 10px;
  --xxs: 5px;

  /* I usually use sans for interface elements and serif for body text */
  --font-family-sans: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  --font-family-serif: Source Serif Pro, Iowan Old Style, Apple Garamond,
    Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  /* I usually stick to at most three font weights, since loading fonts is expensive */
  --font-weight-thin: 400;
  --font-weight-light: 400;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Headings and large text */
  --line-height-tight: 1.25;
  /* Everything else */
  --line-height-normal: 1.5;

  /* Titles */
  --font-size-xxl: 36px;
  /* Headings */
  --font-size-xl: 30px;
  /* Subheadings */
  --font-size-l: 24px;
  /* Body text, especially text in serif */
  --font-size-m: 20px;
  /* Default for all interface elements */
  --font-size-s: 18px;
  /* Buttons, navbar links, footer content, and so on */
  --font-size-xs: 16px;
  /* Breadcrumbs, tags, and smallcaps */
  --font-size-xxs: 14px;
}

/**
 * Resets
 */

::placeholder {
  color: var(--color-light);
  opacity: 0.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

ol {
  padding-left: 1.5em;
}

/* Responsive media */
img,
video {
  height: auto;
  max-width: 100%;
}

/**
 * Base styles
 */
html,
body,
#app {
  height: 100%;
  width: 100%;
  font-size: var(--font-size-s);
  font-family: var(--font-family-sans);
  font-weight: var(--weight-normal);
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height-normal);
  color: var(--color-black);
}

main {
  padding: var(--xl) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--m) 0 var(--xs);

  font-family: var(--font-family-sans);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-xxl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3,
h4,
h5,
h6 {
  font-size: var(--font-size-l);
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

hr {
  margin: var(--xs) 0;

  border: 0;
  border-top: 1px solid #f4f4f4;
}

blockquote {
  padding: 0 0 0 var(--m);
  margin: var(--m) 0 var(--m) var(--xs);

  border-left: 5px solid var(--color-accent);
}

table {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.input-group {
  margin: 20px 0;
}

.input-group .note {
  font-size: 0.8rem;
}

.input-group label {
  margin-bottom: 5px;
  font-size: 0.7rem;
  color: var(--color-light);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.input-group .error {
  color: red;
  margin-top: 2px;
  font-size: 0.8rem;
  font-weight: 600;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  padding: var(--s) var(--m);
  width: 100%;

  color: var(--color-black);
  border: 2px solid var(--color-wash);
  border-radius: 2px;
}

input[disabled],
button[disabled],
textarea[disabled] {
  background: var(--color-wash);
  color: var(--color-light);
  cursor: not-allowed;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
  border-color: var(--color-accent);
}

.button,
button,
input,
textarea {
  padding: 0;

  resize: none;
  background: transparent;
  border: 0;
  outline: 0;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xs);
  line-height: inherit;
  color: inherit;
}

.button,
button,
input[type="submit"] {
  display: inline-flex;
  align-items: center;

  cursor: pointer;
  font-weight: var(--font-weight-medium);
}

input[type="submit"] {
  margin-top: var(--l);
}

/**
 * Components
 */
/* Buttons */
.button--primary,
.button--secondary {
  padding: var(--s) var(--m);

  border-radius: 4px;
}

.button--primary {
  background: var(--color-accent);
  color: #fff;
}

.button--secondary {
  border: 1px solid var(--color-wash);
}

/* Layout */
.container-flex-center {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-page {
  min-height: 100%;
  height: auto;
}

.box {
  padding: var(--xl);
  width: 95%;
  max-width: 400px;
  border: 2px solid var(--color-wash);
  border-radius: 2px;
}

@media screen and (max-width: 500px) {
  .box.responsive {
    padding: 30px 10px;
    width: 100%;
    height: auto;
    border: none; 
  }
}
