@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro";
  src: url("fonts/SF-Pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("fonts/SF-Pro.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("fonts/SF-Pro.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("fonts/SF-Pro.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

#nprogress .bar {
  box-shadow: none;
  height: 5px !important;
}

#nprogress .bar .peg {
  box-shadow: none;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer components {
  .button {
    @apply cursor-pointer bg-sudo block text-center
           uppercase leading-none font-bold border-2 border-sudo
           hover:border-white text-sm text-white transition
           focus:outline-none focus:border-dark focus:shadow-none;
  }
  .button-outline {
    @apply cursor-pointer block rounded-lg p-4 text-center
           uppercase leading-none font-bold border-2 border-sudo
           hover:bg-sudo text-sm text-white transition
           focus:outline-none focus:border-dark focus:shadow-none;
  }
}
